.strikeThrough {
    text-decoration: line-through;
}
body {
    background-color: rgba(95, 158, 160, 0.534);
}
#header {
    color: rgb(49, 49, 54);
    text-decoration: underline;
    border-radius: 5px;
    font-style: italic;
    text-align: center;
    background-image: linear-gradient(rgba(13, 104, 241, 0.493), rgba(128, 0, 128, 0.616), rgba(73, 87, 168, 0.712))
}
img{
    height: 150px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    border-radius: 15px;
    background-color:rgba(133, 133, 187, 0.548);
}
#myList {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    list-style: none;
}
li {
    font-weight: bolder;
    padding-bottom: 40px;
    border: black solid 2px;
    padding-left: 2%;
    color:rgba(23, 23, 24, 0.904)
}
p {
    font-weight: normal;
    padding-left: 25px;
}
input {
    margin-left: 25px;
}

button {
    display: table;
    margin-left: 40px;
    margin-top: -23px;
    background-color: rgba(0, 255, 255, 0.212);
}
#container {
    background-color: rgba(44, 56, 107, 0.74);
    width: 220px;
    height: 150px;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
}
#formHeader {
    color: cornsilk;
    margin-left: 45px;
    padding-top: 10px;
    padding-bottom: -50px;
}
@media only screen and (max-width: 1430px) {
    .flex-container {
        padding-left: 65px;
    }
}
@media only screen and (max-width: 600px) {
    button {
        margin-left: 15px;
    }
    input {
        margin-left: 0px;
    }
    p {
        padding-left: 10px;
    }
    .flex-container {
        padding-left: 55px;
    }
}
@media only screen and (max-width: 450px) {
    button {
        margin-left: 15px;
    }
    input {
        margin-left: 0px;
    }
    p {
        padding-left: 0px;
    }
    .flex-container {
        padding-left: 5px;
    }
}
